{% comment %}
  Name: Logo List Section Snippet
  Description: Custom snippet for rendering a list of logos.

  Accepts:
    - media: {Object} Product Media object

        Usage:
    {% render 'logo-bar', media: media %}

{% endcomment %}

<style>

  
  .flex-item {
    flex: 0 0 auto; 
    max-width: 100%;
  }
  
  .flex-item img {
    width: 100%; 
    height: auto;
    display: block;
  }
</style>
    {%- assign image_url =  media |  image_url -%}
    {%- if image_url != blank -%}
        <div class="flex-item"> <img src="{{ image_url }}" alt="{{media.alt}}" class="logo_image"><img></div> 
    {%- endif -%}


