.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

.newsletter__wrapper .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.newsletter__field {
  display: flex;
  width: 100%;
  justify-content: center;
}

.newsletter__wrapper .newsletter-input {
  border: 1px solid #121212;
  position: relative;
  transition: box-shadow var(--duration-short) ease;
  padding: 2.2rem 1.5rem 0.8rem 2rem;
  margin: var(--inputs-border-width);
  flex-grow: 1;
}

.newsletter__wrapper .input-wrapper {
  position: relative;
  display: flex;
  max-width: 1200px;
  flex-grow: 1;
}


.newsletter-input:focus~.field__label,
.newsletter-input:not(:placeholder-shown)~.field__label,
.newsletter-input:-webkit-autofill~.field__label {
  font-size: 1rem;
  top: calc(var(--inputs-border-width) + 0.5rem);
  left: calc(var(--inputs-border-width) + 2rem);
  letter-spacing: 0.04rem;
}

.newsletter-input:focus,
.newsletter-input:not(:placeholder-shown),
.newsletter-input:-webkit-autofill {
  padding: 2.2rem 1.5rem 0.8rem 2rem;
  margin: var(--inputs-border-width);
}

.newsletter-input::-webkit-search-cancel-button,

.newsletter-input::placeholder {
  opacity: 0;
}

.newsletter__field .newsletter-button {
  box-shadow: none;
  background-color: #121212;
  color: #ffffff;
  border: none;
  padding: 0rem 3rem;
    margin: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* apply a transformation to the button on click and on hover */

.newsletter__field .newsletter-button:active {
  transform: scale(0.9);
}



.newsletter_input .newsletter__wrapper .field:after {}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper>* {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper>*+* {
  margin-top: 2rem;
}

.newsletter__wrapper>*+.newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 100%;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}